<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="description" content="Raphaelios - Build scripts for iOS" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="author" content="Claudiu-Vlad Ursache" />
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
      <div id="all">
      <header>
        <img style="max-width: 100%; height: auto;" src="http://f.cl.ly/items/0N1x0j2r3T1L3P1z3z2N/raphaelios_github@2x.png" width="850" height="300" alt="Header" />
      </header>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <section>
        {{ content }}
        </section>
        <footer>
            <div id="footer"></div>
        </footer>
      </div><!-- END all -->
    </body>
</html>
